bin/FetchElectricityMeter/FetchElectricityMeter.exe
/bin/TestDiscovergyAPI/config_discovergy_ws.json
/bin/TestDiscovergyAPI/config_discovergy_dev_ws.json
/bin/FetchKostalData/config_kostal_dev_ws.json
